	 body{
	 
background-color: yellow;
}
 
 /*.container{
 	 
 	 transition: all 2s;
 	 padding: 45px;
 	 display: grid;
 	 grid-template-columns: repeat(auto-fill,minmax(200px, 1fr)); 
 	 

 }
  .container:hover{
 	 transform:scale(1.1);
 	  
 }*/

  .main-nav{
  	display: flex;
  	list-style: none;
  	font-size: 0.7em;
  	margin: 0;
  }
  li{
  	padding: 20px;
  }
  .push{
  	margin-left: auto;
  }
  .zone{
  	border-radius: 4px;
  	border:1px solid #bbb;
  	transition: all 1s linear;
  	background: black;
	  }
.btn{
	text-align: center;
	color: #bbb;
  text-transform: uppercase;
}
.text-center{
	        padding: 100px;
}